docs/source/_templates/hacks.html linguist-vendored=false
docs/source/_templates/sidebarintro.html linguist-vendored=false
docs/source/_templates/sidebarlogo.html linguist-vendored=false
tests/python.html linguist-vendored=false
