[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyquery = "*"
fake-useragent = "*"
parse = "*"
"bs4" = "*"
"w3lib" = "*"
pyppeteer = "*"
"rfc3986" = "*"

[dev-packages]
twine = "*"
requests-file = "*"
pytest = "*"
e1839a8 = {path = ".",editable = true}
sphinx = "*"
mypy = "*"
pytest-asyncio = "*"
white = "*"

[scripts]
tests = "pytest -v -m 'not internet' "

