[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
pyquery = "*"
fake-useragent = "*"
parse = "*"
"bs4" = "*"
"pyqt5" = "*"
"w3lib" = "*"
pyppeteer = "*"


[dev-packages]

twine = "*"
requests-file = "*"
pytest = "*"
"e1839a8" = {path = ".", editable = true}
sphinx = "*"
mypy = "*"


[scripts]

tests = "pytest"
